/* grid image content */

.grid{
    padding: 2.6em 0;
    background: white;
}

.grid img{
    max-width: calc(100dvw - 2.6em); /*.grid padding doesn't work when vw is getting thinner, hence this*/
}



/* online experiences content */

.online-experiences{
    padding: 0.6em 3.6em;
    background: white;
}

.online-experiences div{ /* ← so that the span = the same width as the h2 */
    max-width: 50rem;
}

.online-experiences h2{
    font-size: 3.2rem;
    font-weight: 600;
}
.online-experiences span{
    /* font-size: 1.6rem; */ /* already set as default font size */
    font-weight: 300;
}