.card{
    min-width: 200px;
    border: none;

    /* background: magenta; */
}

/* card display */

.card-visual{
    position: relative;
}

.card img{
    border-radius: 9px;

    width: 100%;
    max-height: 200px; /* Guess who forgot to check that the images had all the same height ( ◡̀_◡́)ᕤ */
    object-fit: cover;
}

.tag{
    position: absolute;
    top: 5px;
    left: 5px;

    background: white;

    font-size: 1.2rem;
    padding: 6px;
}

/* - - - - - */

/* card meta */

.card-meta{
    max-width: 200px;
}

.card-star{
    max-width: 1.2rem;
    margin: -5px 5px 0 0;
}

.rating-amount{
    opacity: 0.8;
}

.card-cost span{
    font-weight: 600;
}